*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardbox{
    height: 90%;
    width: 50%;
    background-color: rosybrown;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flip-card {
    background-color: transparent;
    width: 18%;
    height: 25%;
    margin: 20px;
    perspective: 1000px;
    cursor: pointer;
  }
  
 
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .active {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  .flip-card-front img{
    width: 90%;
    height: 90%;
  }
  
  .flip-card-back {
    background-color: rgb(155, 188, 187);
    color: white;
    transform: rotateY(180deg);
  }
  .flip-card-back img{
    width: 80%;
    height: 80%;
  }


@media all and (max-width:1181px){
  .cardbox{
    width: 80%;
  }
}
@media all and (max-width:717px){
  .cardbox{
    width: 95%;
  }
}
@media all and (max-width:615px){
  .cardbox{
    width: 90%;
  }
  .flip-card{
    margin: 17px;
  }
}
@media all and (max-width:550px){
  .cardbox{
    width: 100%;
  }
  .flip-card{
    width: 25%;
    height: 18%;
  }
}

